<p id="notice"><%= notice %></p>

<video class="img-responsive" preload="none" controls="controls" poster=<%= @video.video.url(:thumb) %> src=<%= @video.video.url(:original) %> >
   <%= @video.name %>
</video>
<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>View:</strong>
  <%= @video.view %>
</p>

<p>
  <strong>Author:</strong>
  <%= @video.user_id %>
</p>

<p class="pager">
  <%= link_to 'Edit', edit_video_path(@video) %> |
  <%= link_to 'Back', videos_path %>
</p>